<div class="layui-fluid layui-anim febs-anim" id="febs-tiexinzhongliang-by" lay-title="变压器-铁芯重量">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12" style="height: max-content">
            <div class="layui-card" style="height: 460px">
                <div class="layui-card-header" id="txzl-by-form-header">铁芯重量计算</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="tiexinzhongliang-by-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">铁心的中心距(mm)</label>
                            <div class="layui-input-block">
                                <input name="m0" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">铁心的窗高(mm)</label>
                            <div class="layui-input-block">
                                <input name="h0" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">铁轭高(mm)</label>
                            <div class="layui-input-block">
                                <input name="h3" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">铁心柱净截面积(cm<sup>2</sup>)</label>
                            <div class="layui-input-block">
                                <input name="az" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">计算结果</label>
                            <div class="layui-input-block">
                                <input type="text" name="ret" autocomplete="off" class="layui-input"
                                       id="ret-how" value="">
                            </div>
                        </div>
                        <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
                        <button class="layui-btn febs-hide" lay-submit="" lay-filter="txzl-by-form-submit"
                                id="submit-form-txzl-by"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="txzl-by-submit">计算</button>
                    <button class="layui-btn" id="txzl-by-submit-reset">清空</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card" style="height: 460px">
                <div class="layui-card-body febs-table-full">
                    芯柱重量<img src="../image/BYtiexinGz.png"><br>
                    铁轭重&nbsp;&nbsp;&nbsp;&nbsp;<img src="../image/BYtiexinGe.png"><br>
                    角重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                        src="../image/BYtiexinG3.png"><br>
                    铁芯重&nbsp;&nbsp;&nbsp;&nbsp;<img src="../image/BYtiexinMax.png"><br>
                    Mo表示铁心的中心距(mm);<br>
                    Ho表示铁心的窗高(mm);<br>
                    HΔ表示铁轭高(mm);<br>
                    Az表示铁心柱净截面积cm<sup>2</sup>;
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-tiexinzhongliang-by'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $resetSubmit = $view.find('#txzl-by-submit-reset'),
            $submit = $view.find('#txzl-by-submit'),
            $ret = $view.find('#ret-how'),
            $searchForm = $view.find('#tiexinzhongliang-by-table-form');

        form.verify(validate);
        form.render();

        $submit.on('click', function () {
            $view.find('#submit-form-txzl-by').trigger('click');
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
        });

        $resetSubmit.on('click', function () {
            $view.find('#reset-form').trigger('click');
        });

        form.on('submit(txzl-by-form-submit)', function (data) {
            febs.get(ctx + 'by/txzl', data.field, function (ret) {
                form.val("tiexinzhongliang-by-form", {
                    "ret": ret.data,
                });
            })
            return false;
        });


    });
</script>