<div class="layui-fluid layui-anim febs-anim" id="febs-shaobeishengwuzu" lay-title="电抗器-绕组温升">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12" style="height: max-content">
            <div class="layui-card" style="height: 550px;">
                <div class="layui-card-header" id="sbsw-form-header">绕组温升计算</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="shaobeishengwuzu-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">经验系数K</label>
                            <div class="layui-input-block">
                                <input name="k" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">经验系数n</label>
                            <div class="layui-input-block">
                                <input name="n" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item" style="display: none">
                            <label class="layui-form-label">绕组散热面单位热负荷(W/m<sup>2</sup>)</label>
                            <div class="layui-input-block">
                                <input name="qw" autocomplete="off" class="layui-input"
                                       type="number">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">折算到参考温度下的绕组损耗(W)</label>
                            <div class="layui-input-block">
                                <input name="pw" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">绕组的有效散热面积(m<sup>2</sup>)</label>
                            <div class="layui-input-block">
                                <input name="sw" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">计算结果</label>
                            <div class="layui-input-block">
                                <input type="text" name="ret" autocomplete="off" class="layui-input"
                                       id="ret-how" value="">
                            </div>
                        </div>
                        <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
                        <button class="layui-btn febs-hide" lay-submit="" lay-filter="sbsw-form-submit"
                                id="submit-form-sbsw"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="sbsw-submit">计算</button>
                    <button class="layui-btn" id="sbsw-submit-reset">清空</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card" style="height: 550px;">
                <div class="layui-card-body febs-table-full">
                    <img src="../image/DKshaozushengwen.png"><br>
                    式中,K,n为经验系数,与工艺及所采用的材料有关,根据生产经验,对低压绕组按式计算面积;<br>
                    在所有表面均与里面气道接触时K＝0.66;<br>
                    高压绕组采用分段层式绕组,故只有竖直气道,当绕组中设有竖直气道时,则有两个轴向散热面,K=0.46;<br>
                    若外绕组有三个以上的散热面时,其中只有一个外表面与外部空气直接接触,而其余为内表面及绕组层间气道与里面气道接触时K＝0.56,n＝0.8;<br>
                    qW绕组散热面单位热负荷,单位W/m<sup>2</sup>;<br>
                    Pw折算到参考温度下的绕组损耗,单位W;<br>
                    Sw绕组的有效散热面积,单位m<sup>2</sup>;<br>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-shaobeishengwuzu'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $resetSubmit = $view.find('#sbsw-submit-reset'),
            $submit = $view.find('#sbsw-submit'),
            $ret = $view.find('#ret-how'),
            $searchForm = $view.find('#fenjiedian-table-form');

        form.verify(validate);
        form.render();

        $submit.on('click', function () {
            $view.find('#submit-form-sbsw').trigger('click');
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
        });

        $resetSubmit.on('click', function () {
            $view.find('#reset-form').trigger('click');
        });

        form.on('submit(sbsw-form-submit)', function (data) {
            febs.get(ctx + 'dk/sbsw', data.field, function (ret) {
                form.val("shaobeishengwuzu-form", {
                    "ret": ret.data,
                });
            })
            return false;
        });


    });
</script>