<div class="layui-fluid layui-anim febs-anim" id="febs-zhudiankang" lay-title="主电抗">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12" style="height: max-content">
            <div class="layui-card">
                <div class="layui-card-header" id="zdk-form-header">主电抗计算</div>
                <div class="layui-card-body febs-table-full">
                    <form class="layui-form layui-table-form" action="" lay-filter="zhudiankang-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">等效导磁面积(m2)</label>
                            <div class="layui-input-block">
                                <input name="a" autocomplete="off" class="layui-input"
                                       type="number" step="0.01" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">铁芯饼组数(不加1)</label>
                            <div class="layui-input-block">
                                <input name="n" autocomplete="off" class="layui-input"
                                       type="number" step="0.01" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">气隙长度(m)</label>
                            <div class="layui-input-block">
                                <input name="aL" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">线圈最大匝数</label>
                            <div class="layui-input-block">
                                <input name="w" autocomplete="off" class="layui-input"
                                       type="number" lay-verify="required">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">计算结果</label>
                            <div class="layui-input-block">
                                <input type="text" name="ret" autocomplete="off" class="layui-input"
                                       id="ret-how" value="">
                            </div>
                        </div>
                        <button type="reset" class="layui-btn febs-hide" id="reset-form"></button>
                        <button class="layui-btn febs-hide" lay-submit="" lay-filter="zdk-form-submit"
                                id="submit-form-zdk"></button>
                    </form>
                </div>
                <div class="layui-card-footer">
                    <button class="layui-btn" id="zdk-submit">计算</button>
                    <button class="layui-btn" id="zdk-submit-reset">清空</button>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body febs-table-full">

                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'febs', 'form', 'eleTree', 'validate'], function () {
        var $ = layui.jquery,
            laydate = layui.laydate,
            febs = layui.febs,
            form = layui.form,
            validate = layui.validate,
            eleTree = layui.eleTree,
            dropdown = layui.dropdown,
            $view = $('#febs-zhudiankang'),
            $query = $view.find('#query'),
            $reset = $view.find('#reset'),
            $resetSubmit = $view.find('#zdk-submit-reset'),
            $submit = $view.find('#zdk-submit'),
            $ret = $view.find('#ret-how'),
            $searchForm = $view.find('#fenjiedian-table-form');

        form.verify(validate);
        form.render();

        $submit.on('click', function () {
            $view.find('#submit-form-zdk').trigger('click');
        });

        $reset.on('click', function () {
            $searchForm[0].reset();
        });

        $resetSubmit.on('click', function () {
            $view.find('#reset-form').trigger('click');
        });

        form.on('submit(zdk-form-submit)', function (data) {
            febs.get(ctx + 'dk/zdk', data.field, function (ret) {
                form.val("zhudiankang-form", {
                    "ret": ret.data,
                });
            })
            return false;
        });


    });
</script>