<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>配电变压器设计优化软件</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/febs.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/eleTree.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/apexcharts.min.css}" media="all">
    <link rel="stylesheet" th:href="@{febs/css/formSelects-v4.css}" media="all">
    <!-- 高德地图，key为演示作用，请勿滥用-->
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=0e8a587317998a5e03cf608649b229d6&plugin=AMap.Autocomplete"></script>
    <link rel="icon" th:href="@{febs/images/favicon.ico}" type="image/x-icon"/>
    <script language="javascript">
        function test(fang) {
            if (fang < 10) {
                bdhtml = window.document.body.innerHTML;//获取当前页的html代码
                sprnstr = "<!--startprint" + fang + "-->";//设置打印开始区域
                eprnstr = "<!--endprint" + fang + "-->";//设置打印结束区域
                prnhtml = bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
                prnhtml = prnhtml.substring(0, prnhtml.indexOf(eprnstr));//从结束代码向前取html
                window.document.body.innerHTML = prnhtml;
                window.print();
                window.document.body.innerHTML = bdhtml;
            } else {
                window.print();
            }
        }
    </script>
</head>
<body>
<div id="febs"></div>
<script th:src="@{layui/layui.js}"></script>
<script th:inline="javascript">
    var imageUrl = 'https://www.shyunhai.com/';
    var ctx = [[@{/}]];
    var currentUser = [[${user}]];
    currentUser.roleSet = [[${roles}]];
    currentUser.permissionSet = [[${permissions}]];

    layui.config({
        base: './febs/',
        debug: true
    }).extend({
        formSelects: 'lay/extends/formSelects-v4.min',
        treeSelect: 'lay/extends/treeSelect',
        apexcharts: 'lay/extends/apexcharts.min',
        eleTree: 'lay/extends/eleTree'
    }).use(['index']);
</script>
</body>
</html>